<!DOCTYPE html>
<html> 
    <head>
        <title>Celestial-Night-Palette</title>
    </head>
    <body style="background-color: #efedff;">
        <br>
        <br>
        <h1><center>Celestial Night</center></h1>
        <br>
        <br>
        <table style="margin: 0 auto; table-layout: fixed; width: 800px; height: 100px;">
            <tbody>
                <tr>
                    <td style="background-color: #010822;">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#010822</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #b91313">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#b91313</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #504951">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#504951</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #d1d1d1">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#d1d1d1</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #1f1f1f">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#1f1f1f</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #e6c39d">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#e6c39d</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #776a84">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#776a84</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #8681b9">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#8681b9</font></center></h1>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
