<!DOCTYPE html>
<html> 
    <head>
        <title>Celestial-Night-Palette</title>
    </head>
    <body>
        <br>
        <br>
        <h1><center>Celestial Night</center></h1>
        <br>
        <br>
        <table>
            <tbody>
                <tr>
                    <td style="background-color: #010822">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#010822</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #b91313">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#010822</font></center></h1>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
