<!DOCTYPE html>
<html> 
    <head>
        <title>Celestial-Night-Palette</title>
    </head>
    <body style="background-color: #a9ddf5;">
        <br>
        <br>
        <h1><center>Celestial Night</center></h1>
        <br>
        <br>
        <table style="margin: 0 auto; table-layout: fixed; width: 1200px; height: 100px;">
            <tbody>
                <tr>
                    <td style="background-color: #010822;">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#010822</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #504951">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#504951</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #f0f0f0">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#f0f0f0</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #1f1f1f">
                        <br>
                        <br>
                        <h1><center><font color="#FFFFFF">#1f1f1f</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #e6c39d">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#e6c39d</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #776a84">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#776a84</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #8681b9">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#8681b9</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #b91313">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#b91313</font></center></h1>
                        <br>
                        <br>
                    </td>
                    <td style="background-color: #cc7763">
                        <br>
                        <br>
                        <h1><center><font color="#000000">#cc7763</font></center></h1>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2><center>Example:</center></h2>
        <br>
        <div style="text-align: center;">
            <img src="pic/image_2026-09-22_124055827.png" style="width: 600px; height: 300px;">
        </div>
    </body>
</html>
